// html,
// body {
//   height: 100vh;
// }
// #root {
//   min-height: 100%;
// }
.app {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // height: 100vh;
}

.element-before {
  // flex-grow: 2;
  // flex-basis: 100px;
  align-self: flex-start;
  width: auto;
  background-color: rgb(247, 147, 129);
}

.element-after {
  width: auto;
  background-color: rgb(228, 228, 96);
}

@media (orientation: portrait) {
  .app {
    flex-direction: column;
  }
}
