// html,
// body {
//   height: 100vh;
// }
// #root {
//   min-height: 100%;
// }
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
body {
  background-color: rgb(68, 78, 75);
  user-select: none;
}

.app {
  display: flex; // flex-direction: column;
  justify-content: space-between; // align-items: center;
  // height: 100vh;
}

.element-before {
  // flex-grow: 2;
  // flex-basis: 100px;
  align-self: flex-start;
  background-color: rgb(247, 147, 129); // .controls {
  //   width: 100px;
  // }
}

// .info-bar {
//   width: auto;
//   background-color: rgb(228, 228, 96);
// }
// @media (orientation: portrait) {
//   .app {
//     flex-direction: column;
//   }
// }
/* 
this component has a purely technical role, so we don't need to display it
*/

.game-engine {
  display: none;
}

@media (max-width: 1000px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
}