// @media (orientation: portrait) {
//   .gameboard__small {
//     transform: rotate(90deg) translate(65%) scale(1.7);
//   }
//   .row > .square {
//     transform: rotate(-90deg);
//   }
// }

.gameboard {
  // margin: 0 auto;
  align-self: center;
  width: 90vw;
  max-width: 90vh;
  height: 90vw;
  max-height: 90vh;
  // font-size: 1rem;
  cursor: grab;
  // user-select: none;
  .row {
    display: flex;

    &:last-child > div {
      border-bottom: none;
    }

    div {
      border: 1px solid rgb(201, 201, 201);
      flex: 1 1 auto;

      &:after {
        content: "";
        float: left;
        display: block;
        padding-top: 100%;
      }
      &.alive {
        background-color: rgb(247, 147, 129);
      }
      &[class^="0"] {
        border-top: none;
      }
      &[class$="-0"] {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

// @media (orientation: portrait) {
//   .square {
//     background: rgb(247, 147, 129);
//   }
// }
