.gameboard-outer {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.gameboard {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(var(--gameboardSize), 1fr);
  width: var(--size);
  height: var(--size);
  cursor: grab;

  div {
    border: 1px solid var(--border-color);

    &.alive {
      background-color: var(--cell-alive-color);
    }

    &.top {
      border-top: none;
    }
    &.right {
      border-right: none;
    }
    &.bottom {
      border-bottom: none;
    }
    &.left {
      border-left: none;
    }
  }
}
