.info-bar {
  display: flex;
  flex: 1 1 25%;
  flex-direction: column;
  align-self: flex-start;
  font-size: 2em;
  color: #fff;
  padding: 4px 20px;
  a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
  }
  a:first-child {
    padding-top: 20px;
  }
}
