.info-bar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 2em;
  color: #fff;
  padding: 4px 20px;
  a {
    padding: 5px 10px;
    color: #fff;
    .info-bar__icon {
      margin: 0 30px;
    }
  }
}
