.interface {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 570px) and (orientation: portrait) {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5% 0 5%;
  }
  .interface__button {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 15px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    transition: background-color 0.5s;
    cursor: pointer;
    outline: none;
    .interface__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      color: var(--text-color);
      transition: color 0.5s;
      &.ion-navicon-round {
        color: var(--settings-button);
      }
      &.ion-play,
      &.ion-pause {
        color: var(--play-stop-button);
      }
    }
    &:hover {
      border-radius: 50%;
      background-color: var(--text-color);
      & > .interface__icon {
        color: var(--bg-color);
      }
      &#settings_button {
        background-color: var(--settings-button);
      }
      &#start_stop_button {
        background-color: var(--play-stop-button);
      }
    }
  }
}
