#modal {
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg-color);
  transition: opacity 0.4s, z-index 0.4s;

  &.show {
    opacity: 1;
    z-index: 1;
  }
}

#settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100%;
  width: 550px;
  transform: translateX(-1200px);
  transition: transform 0.4s ease;
  background-color: var(--settings-panel-color);
  z-index: 10;

  @media only screen and (max-width: 900px) {
    width: 350px;
    transform: translateX(-1200px);
  }
  @media only screen and (max-width: 630px) {
    height: 380px;
    width: 100%;
    transform: translateY(-1200px);
  }

  &.show {
    transform: translateX(0);

    @media only screen and (max-width: 630px) {
      transform: translateY(0);
    }
  }

  .button {
    align-self: flex-end;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 15px;
    border: none;
    border-radius: 50%;
    background-color: inherit;
    transition: background-color 0.5s;
    cursor: pointer;
    outline: none;

    @media only screen and (max-width: 630px) {
      align-self: flex-start;
      margin: 31px 0 20px 31px;
      transform: rotate(90deg);
    }

    &:hover {
      border-radius: 50%;
      background-color: var(--text-color);

      & > .icon {
        color: var(--settings-panel-color);
      }
    }

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
      color: var(--text-color);
      transition: color 0.5s;
    }
  }

  .sliders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 200px;

    h4 {
      font-size: 1.2rem;

      @media only screen and (max-width: 900px) {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
    .slider {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      height: 130px;

      @media only screen and (max-width: 900px) {
        height: 80px;
      }
    }
    .value {
      display: inline-block;
      flex: 0 0 35px;
      align-self: flex-end;
      position: relative;
      margin-left: 15px;
      font-size: 2.2em;
      color: white;
      text-align: center;

      @media only screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
    }
    .value.color {
      width: 40px;
      height: 40px;
      margin: 0 0 0 16px;
      background-color: tomato;

      @media only screen and (max-width: 900px) {
        width: 35px;
        height: 35px;
      }
    }
  }
}
