:root {
  --text-color: #fff;
  --bg-color: rgb(68, 78, 75);
  --border-color: rgb(201, 201, 201);
  --cell-alive-color: rgb(247, 147, 129);
  --settings-button: #fbc02d;
  --play-stop-button: lighten(tomato, 10%);
  --settings-panel-color: darken(rgb(68, 78, 75), 5%);
  --modal-bg-color: hsla(200, 40%, 10%, 0.4);
}
